.backgroundColor1{
    -fx-background-color: linear-gradient(#FFE4C4,#FFEFD5);
}
.backgroundColor2{
    -fx-background-color: linear-gradient(#FFFAF0,#FFFAF0);
}
.borderColor{
    -fx-border-color: linear-gradient(#1d3557, #1d3557);
}
.backgroundColorButton{
    -fx-background-color: linear-gradient(#C9AD88, #C9AD88);
}
.backgroundColor3{
    -fx-background-color: linear-gradient(#FEEBD3, #FFF1DE);
}