.backgroundColor1{
    -fx-background-color: linear-gradient(#FFE4C4,#FFEFD5);
}
.backgroundColorAndBorderColor{
    -fx-background-color: #FFFAF0;
    -fx-border-color:  #1d3557;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.borderColor{
    -fx-border-color: #1d3557;
}
.backgroundColorStatus{
    -fx-background-color: #bbbaba;
}
.backgroundColorLightBrownButton{
    -fx-background-color: #C9AD88;
}
.backgroundColor2{
    -fx-background-color: linear-gradient(#FEEBD3, #FFF1DE);
}
.backgroundColor3{
    -fx-background-color: linear-gradient(#FFE0B8, #FFF1DE);
}
.backgroundColorInHeadPages{
    -fx-background-color: #ffe6c9;
}
.radius{
    -fx-border-radius: 5;
}
.backgroundColorOrange{
    -fx-background-color: #F99F28;
}